.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none !important;
}
/* CustomNavbar.css */
/* Header.js*/
.navbar {
  background-color: orange !important;
}

.navbar .nav-link {
  color: black !important;
}

.student-header .dropdown-toggle {
  background-color: white !important;
  color: black !important;
}

.dropdown-menu .dropdown-item {
  color: black !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: lightgray !important;
}
.text-orange {
  color: orange !important;
}

.gioi-thieu-dropdown .dropdown-toggle {
  background-color: orange !important;
  color: black !important;
}

.gioi-thieu-dropdown .dropdown-menu .dropdown-item {
  background-color: white !important;
  color: black !important;
}

.gioi-thieu-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: lightgray !important;
}

/* ManagerHeader.js*/
.manager-header .dropdown-toggle {
  background-color: white; 
  color: orange !important; 
}

/* Homepage.js*/
.background-overlay {
  position: relative;
  background: url("https://cdnphoto.dantri.com.vn/vUHW-y2FTkOSlbFiKZPV-ReWJn0=/thumb_w/1360/2023/04/28/dantri-lo-trinh-hoc-tap-len-cac-cap-hoc-cao-hon-cho-hoc-sinh-phan-luong-sau-thcs-theo-giao-duc-nghe-nghiep-anhntv34docx-1682651902124.jpeg")
    no-repeat center center;
  background-size: cover;
  padding: 150px 0 0 0;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.background-content {
  position: relative;
  z-index: 2;
}
.bg-orange {
  background-color: #ff9900 !important;
  z-index: 2;
}

.btn-no-underline {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.custom-button {
  background: transparent;
  border: none;
  color: orange;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  transition: font-weight 0.3s ease;
}

.custom-button.selected {
  font-weight: bold;
}

.custom-button:focus {
  outline: none;
}

/* Form đăng ký Homepage.js */
.registration-section {
  position: relative;
}
.registration-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://iap-poly.s3.ap-southeast-1.amazonaws.com/wallpaper/hero3.JPG?fbclid=IwAR15AUsvOgZGnip3gywPuPnaCXlsypsu4tgjlLmppM_ZQti_TGh8MWaynIU")
    no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.registration-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  z-index: 1;
}

.text-section {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section {
  flex: 1;
  background-color: #f57c00;
  border-radius: 8px;
}

.form-section .btn-submit {
  background-color: #fff;
  color: #f57c00;
  border: none;
}
.form-section .btn-submit:hover {
  background-color: white;
  color: orange;
  border: 1px solid orange;
}

/* History.js */
.homeguest-banner {
  background-image: url("https://channel.mediacdn.vn/428462621602512896/2023/4/27/photo-2-16825656134001528505251.jpg");
  background-position: center;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 231, 231, 0.8);
}

.banner-title {
  position: relative;
  color: black;
  font-size: 2.5rem;
  z-index: 1;
}

.homeguest-description {
  text-align: justify;
}

.text-orange a {
  color: orange !important;
  text-decoration: none !important;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: orange !important;
}
.breadcrumb .breadcrumb-item a {
  color: orange;
  text-decoration: none !important;
}

/* Programs.js */
.program-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 0rem 5rem 0rem 5rem;
}

.program-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.program-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-details li {
  margin: 0.5rem 0;
}

.page-title {
  text-align: center;
  color: orange;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}

/* Blog.js */
.filter-section {
  text-align: right;
}

.filter-section .form-select {
  width: auto;
  display: inline-block;
  padding: 0.5rem 1rem;
  width: 200px;
}
.read-more-btn {
  color: orange !important;
  border: 1px solid rgb(160, 159, 159) !important;
  background-color: transparent;
  padding: 5px 30px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
}

.read-more-btn:hover {
  background-color: transparent !important;
}
/* BlogDetail.js */
.comment-section {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.comment-section h4 {
  color: #333;
  font-weight: bold;
}

.comment-section .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.comment-section .btn-primary {
  background-color: orange;
  border-color: orange;
}
.comment-section .btn-primary:hover {
  background-color: orange;
  border-color: orange;
}
/* Application.js */
.image-preview-container {
  width: 100%; 
  height: 250px; 
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-preview {
  width: 100%; 
  height: auto;
  object-fit: cover; 
}

.background-overlay-advisory {
  position: relative;
  background: url("https://cdnphoto.dantri.com.vn/vUHW-y2FTkOSlbFiKZPV-ReWJn0=/thumb_w/1360/2023/04/28/dantri-lo-trinh-hoc-tap-len-cac-cap-hoc-cao-hon-cho-hoc-sinh-phan-luong-sau-thcs-theo-giao-duc-nghe-nghiep-anhntv34docx-1682651902124.jpeg")
    no-repeat center center;
  background-size: cover;
  padding: 310px 0 0 0;
  height: 400px;
}
/* ApplicationSearch.js */
.progress-container {
  background-color: orange;
  color: white;
  border-radius: 20px;
  padding: 15px 200px;
  text-align: center;
  font-weight: bold;
}

.progress-steps span {
  padding: 0 10px;
}

.progress-container .progress-steps {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.info-item {
  display: flex;
  margin-bottom: 10px;
}

.label {
  width: 200px;
  font-weight: bold;
}

.value {
  flex: 1;
}
.documents-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-top: 10px;
}

.document {
  text-align: center;
}

.document-image {
  height: 150px; 
  width: auto; 
  object-fit: contain; 
  border-radius: 8px; 
  border: 1px solid #ddd; 
  padding: 5px;
}
.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label{
  opacity: 1; 
}

/* ApplicationUpdate.js */
.form-group-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}

.fixed-label {
  width: 210px; 
  margin-right: 10px;
}