.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none !important;
}

.table th {
  text-align: center !important;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

/* CustomNavbar.css */
/* Header.js*/
.navbar {
  background-color: orange;
}

.navbar .nav-link {
  color: black !important;
}

.campus-dropdown .dropdown-toggle {
  background-color: white !important;
  color: black !important;
}

.dropdown-menu .dropdown-item {
  color: black !important;
}

.dropdown-menu .dropdown-item:hover {
  background-color: lightgray !important;
}

.text-orange {
  color: orange !important;
}

.gioi-thieu-dropdown .dropdown-toggle {
  background-color: orange !important;
  color: black !important;
}

.gioi-thieu-dropdown .dropdown-menu .dropdown-item {
  background-color: white !important;
  color: black !important;
}

.gioi-thieu-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: lightgray !important;
}

.notification-dropdown .dropdown-toggle {
  color: white;
}

.notification-dropdown .dropdown-toggle::after {
  display: none !important;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 10px;
}

.notification-icon {
  position: relative;
  cursor: pointer;
  color: orange;
}

/* ManagerHeader.js*/
.manager-header .dropdown-toggle {
  background-color: #f8f9fa;
  color: orange !important;
}

/* Homepage.js*/
.background-overlay {
  position: relative;
  background: url("https://www.rmit.edu.vn/content/dam/rmit/vn/smart-crop/full-width-banner/students-outdoors-writing-1920x500.jpg")
    no-repeat top center;
  background-size: cover;
  padding: 150px 0 0;
  height: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.background-content {
  position: relative;
  z-index: 2;
}

.bg-orange {
  background-color: orange !important;
  z-index: 2;
}

.btn-no-underline {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

.custom-button {
  background: transparent;
  border: none;
  color: orange;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
  transition: font-weight 0.3s ease;
}

.custom-button.selected {
  font-weight: bold;
}

.custom-button:focus {
  outline: none;
}

.major-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.major-item:hover {
  transform: scale(1.05);
}

.full-width {
  width: 100%;
}

.partner-logo-container {
  width: 190px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-logo {
  width: 100%;
  height: 100% !important;
  object-fit: contain;
}

@media (min-width: 768px) {
  .majorSection {
    margin-top: 2rem !important;
  }
}

@media (max-width: 768px) {
  .background-overlay {
    padding: 100px 0 0;
  }

  .display-4 {
    font-size: 2rem;
  }

  .majorSection {
    margin-top: 5rem;
  }

  .text-section {
    display: none;
  }
}

@media (max-width: 417px) {
  .majorSection {
    margin-top: 7.5rem;
  }
}

@media (max-width: 330px) {
  .majorSection {
    margin-top: 10rem;
  }
}

/* Form đăng ký Homepage.js */
.registration-section {
  position: relative;
}

.registration-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://iap-poly.s3.ap-southeast-1.amazonaws.com/wallpaper/hero3.JPG?fbclid=IwAR15AUsvOgZGnip3gywPuPnaCXlsypsu4tgjlLmppM_ZQti_TGh8MWaynIU")
    no-repeat center center;
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.registration-content {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  z-index: 1;
}

.text-section {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-section {
  flex: 1;
  background-color: #f57c00;
  border-radius: 8px;
}

.form-section .btn-submit {
  background-color: #fff;
  color: #f57c00;
  border: none;
}

.form-section .btn-submit:hover {
  background-color: white;
  color: orange;
  border: 1px solid orange;
}

/* Slider.js */
.banner-placeholder {
  width: 100%;
  height: 50vw;
  max-height: 600px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-placeholder .loading-text {
  font-size: 24px;
  color: #888;
}

.banner-image {
  height: 50vw;
  max-height: 600px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .banner-placeholder,
  .banner-image {
    height: 10vw;
  }
}
@media (max-width: 768px) {
  .carousel img {
    height: auto;
    max-height: 200px;
  }
}

/* History.js */
.homeguest-banner {
  background-image: url("https://buildingos.com/images/CACHE/images/reportimage/9f/9fdfd712-8c4e-4c53-bde4-6ca1313a2c7b/961d2b8652beca4ac502707f48a5cb34.jpg?");
  background-position: bottom;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  padding: 0 20px;
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(231, 231, 231, 0.8);
}

.banner-title {
  position: relative;
  color: black;
  font-size: 1.8rem;
  text-align: center;
  z-index: 1;
}

.homeguest-description {
  text-align: justify;
  font-size: 1rem;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .homeguest-banner {
    height: 300px;
  }
  .banner-title {
    font-size: 2.5rem;
  }
  .homeguest-description {
    font-size: 1.1rem;
  }
}

.text-orange a {
  color: orange !important;
  text-decoration: none !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: orange !important;
}

.breadcrumb .breadcrumb-item a {
  color: orange;
  text-decoration: none !important;
}

/* Programs.js */
.program-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 0rem 5rem 0rem 5rem;
}

.program-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.program-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.program-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program-details li {
  margin: 0.5rem 0;
}

.page-title {
  text-align: center;
  color: orange;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.table-container {
  width: 100%;
  max-width: 75%;
  margin: auto;
}

@media (max-width: 768px) {
  .table-container {
    max-width: 90%;
  }
}

/* Blog.js */
.blog-card {
  height: 100%;
}

.blog-card-img {
  object-fit: cover;
  height: 200px;
}

.blog-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 4);
}

.blog-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.5em * 3);
}

.read-more-btn {
  color: orange !important;
  border: 1px solid rgb(160, 159, 159) !important;
  background-color: transparent;
  padding: 5px 30px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  display: inline-block;
}

.read-more-btn:hover {
  background-color: transparent !important;
}

.pagination .page-item .page-link {
  color: black;
  margin: 0 2px;
}

.page-item.active .page-link {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}

.label-fixed {
  min-width: 80px;
}

@media (max-width: 576px) {
  .filter-section {
    flex-direction: column;
  }
}
/* BlogDetail.js */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-section {
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid #ddd;
}

.comment-section h4 {
  color: #333;
  font-weight: bold;
}

.comment-section .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.comment-section .btn-primary {
  background-color: orange;
  border-color: orange;
}

.comment-section .btn-primary:hover {
  background-color: orange;
  border-color: orange;
}

/* Application.js */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 18px;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  font-style: italic;
}
.image-preview-container {
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-preview {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.background-overlay-advisory {
  position: relative;
  background: url("https://cdnphoto.dantri.com.vn/vUHW-y2FTkOSlbFiKZPV-ReWJn0=/thumb_w/1360/2023/04/28/dantri-lo-trinh-hoc-tap-len-cac-cap-hoc-cao-hon-cho-hoc-sinh-phan-luong-sau-thcs-theo-giao-duc-nghe-nghiep-anhntv34docx-1682651902124.jpeg")
    no-repeat center center;
  background-size: cover;
  padding: 310px 0 0 0;
  height: 400px;
}

.score-input {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

.score-input label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 4px;
}

@media (max-width: 767px) {
  .score-input {
    width: 100% !important;
  }
}

/* ApplicationSearch.js */
.progress-container {
  background-color: orange;
  color: white;
  border-radius: 20px;
  padding: 15px 100px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.progress-steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  flex-wrap: wrap;
  gap: 10px;
}
.progress-steps > span {
  font-size: 2rem;
  font-weight: bold;
}
.step {
  padding: 10px 15px;
  border-radius: 20px;
  color: #6c757d;
  text-align: center;
  max-width: 200px;
  min-width: 150px;
  white-space: nowrap;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.step.active {
  background-color: orange;
  color: white;
}
.step.current {
  font-weight: bold;
  border: 2px solid white;
}

.step.disabled {
  background-color: #cccccc;
  color: #8a8a8a;
  cursor: not-allowed;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .progress-container {
    padding: 15px 15px;
  }

  .progress-steps {
    font-size: 0.9rem;
    gap: 5px;
  }

  .progress-steps > span {
    font-size: 1.5rem;
  }

  .step {
    flex: 1 1 auto;
    max-width: 150px;
  }
}

.info-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.label2 {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}
.value {
  font-size: 16px;
  color: #555;
}

@media (min-width: 768px) {
  .info-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .label {
    flex: 1;
  }

  .label2 {
    flex: 0.4;
  }
  .value {
    flex: 2;
    text-align: left;
  }
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 70%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image-title {
  font-size: 14px;
  color: #333;
}

.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  opacity: 1;
}

.enrollment-section img {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
}
.enrollment-section .btn {
  display: block;
  width: 100%;
  text-align: center;
}

/* ApplicationUpdate.js */
.form-group-flex {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.fixed-label {
  width: 210px;
  margin-right: 10px;
}

/* StudentProfile.js */
.nav-pills .nav-link.active {
  background-color: orange !important;
}

.nav-link {
  color: black !important;
  text-decoration: none !important;
  transition: color 0.3s ease !important;
}

.sidebar .nav-link:hover {
  color: #f90 !important;
}

.active-link {
  font-weight: bold !important;
  color: #f90 !important;
  border-bottom: 2px solid #f90 !important;
}

/* Dashboard.js */
.sidebar {
  background-color: #f8f9fa;
  height: 93vh;
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-container {
  position: fixed;
  top: 60px;
  left: 0;
  height: 100vh;
  background-color: #f8f9fa;
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.main-content {
  transition: margin-left 0.3s ease;
  padding: 20px;
  margin-top: 60px !important;
}

.main-content.sidebar-open {
  margin-left: 16.66667%;
}

.main-content.sidebar-closed {
  margin-left: 0;
}

.header-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  box-shadow: 0px 2px 2px -2px gray;
}

/* MajorsList.js */
.btn-orange {
  background-color: orange !important;
  border: none !important;
  color: white;
}

.btn-orange:hover {
  background-color: darkorange !important;
}
